#
# build.cfg
#

[core]

root_dir:	/home/alfredh/tmp/build
svn_base:	https://svn.myserver.com/

[tests]
# List of which tests to run
do_svn:		yes
do_build:	yes
do_install:	no
do_deb:		yes
do_rpm:		no
do_ccheck:	yes
do_doxygen:	yes
do_splint:	yes

[libs]		# branches
mylib:		trunk

[apps]		# branches
myapp:		trunk
